<ion-header>
  <ion-toolbar color="primary">
    <ion-title>JumbleRumble</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-label>Welcome to the Game</ion-label>
      <ion-card-title>Guess The Jumbled Words</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-item>
    <ion-label position="floating">1.bluebb</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">2.plurpe</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">3.eatrw</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-list>
    <ion-radio-group value="biff">
      <ion-list-header>
        <ion-label>Guest the word: emviso</ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>vision</ion-label>
        <ion-radio slot="start" value="biff"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>movies</ion-label>
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>mostly</ion-label>
        <ion-radio slot="start" value="buford"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-list>
    <ion-radio-group value="biff">
      <ion-list-header>
        <ion-label>Guest the word: ucomterp</ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>computer</ion-label>
        <ion-radio slot="start" value="biff"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>constestant</ion-label>
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>company</ion-label>
        <ion-radio slot="start" value="buford"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>

 